<div id="contenedor-libros">
<div class="card" style="margin-bottom: 1rem;width: 250px;" *ngFor="let libro of Libro" >
    <img [src]="libro.imagen" style="height: 150px;"
        class="card-img-top" alt="imagen no disponible">
    <div class="card-body" style="    display: flex;
    flex-direction: column;
    justify-content: space-between;">
        <h5 class="card-title">{{libro.nombre}}</h5>
        <p class="card-text">{{libro.autor}}</p>
        <p class="card-text">{{libro.categoria}}</p>
        <p class="card-text">{{libro.ISBN}}</p>
        <div id="separacion_botones">
            <button type="button" class="btn btn-primary"><i class="fas fa-share-square"></i> Prestar</button>
            <button type="button" class="btn btn-secondary"><i class="far fa-calendar-plus"></i> Reservar</button>
        </div>
    </div>
</div>
</div>