#navbar{
    background-color:#0aafaf ;
    height: 40px;
    font-size: 15px;
}
#nav-tab{
    background-color:rgb(242, 244, 244); 
    color: black;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: -5px;
}

.buscador{
    display: flex!important;
    position: absolute;
    right: 10px;
    height: 30px;
}

#btn_buscar{
    background: transparent;
    border: transparent;
    color: white;
}